@media (max-width: 768px) {
  nav {
    padding: 0 30px;
  }
  .nav_menu ul li {
    margin-left: 15px;
    font-size: 14px;
  }
  .home {
    background-size: cover;
    padding: 40px;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about_info,
  .about-img {
    width: 100%;
  }
  .about_info_me h1 {
    display: inline-block;
    margin-bottom: 10px;
  }
  .skills_progress {
    width: 45%;
  }
  .skills_icon p {
    padding: 20px;
  }
  .certificate_cart {
    width: 100%;
  }
  .portfolio_cart {
    width: 45%;
  }
  .contact_wrapper {
    flex-direction: column;
  }
  .contact_info,
  .contact_form {
    width: 100%;
  }
}



@media (max-width: 360px) {
  nav {
    padding: 0 15px;
  }
  .nav_menu ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav_menu ul li {
    margin: 8px;
    font-size: 12px;
  }
  .home h1 {
    font-size: 20px;
  }
  .home h2 {
    font-size: 16px;
  }
  .home_icone p {
    font-size: 22px;
    padding-right: 12px;
  }
  .about {
    padding: 120px 20px 60px;
  }
  .about_info_me h2 {
    margin-top: 25px;
    font-size: 18px;
  }
  .skills_progress {
    width: 100%;
  }
  .skills_progress i {
    font-size: 65px;
  }
  .certificate {
    padding: 30px 20px;
  }
  .certificate_cart span {
    padding: 25px;
    font-size: 11px;
  }
  .portfolio_cart {
    width: 100%;
    height: 200px;
  }
  .contact {
    padding: 50px 20px;
  }

  .contact_form button {
    width: 100%;
    align-self: center;
  }
  .footer {
    padding: 40px 20px;
  }
}
